.container {
  border: 3px solid rgb(68, 67, 67);
  width: 300px;
  margin-top: 20px;
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(243, 242, 242, 0.2),
    0 12px 24px rgba(192, 188, 188, 0.2);
  text-align: center;
  transition: transform 0.3s;
  color: black;
}

.container:hover {
  transform: translateY(-10px);
}

.flexy {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}
.search-container {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  /* margin-left: 220px; */
  margin-bottom: 20px;
}
#search {
  padding: 5px 10px;
  width: 400px;
  border-radius: 5px;
}

.role-btn {
  margin: 10px 80px 0px 80px;
  border: solid 2px white;
  border-bottom: none;
  border-radius: 10px 10px 0px 0px;
  padding: 20px 70px;
  width: 220px;
  background-color: rgb(44, 45, 49);
}
.role-btn:hover {
  background-color: grey;
}
.btn-container {
  display: flex;
  justify-content: space-around;
  border-bottom: solid 2px white;
}
